
\.DS_Store

presentations/DBA2 Automation/DBA2 Automation\. p\.2 install vm in aws with terraform/aws_terraform/terraform\.tfvars

presentations/DBA2 Automation/DBA2 Automation\. p\.2 install vm in aws with terraform/aws_terraform/terraform\.tfstate\.backup

presentations/DBA2 Automation/DBA2 Automation\. p\.2 install vm in aws with terraform/aws_terraform/\.terraform/plugins/darwin_amd64/lock\.json

presentations/DBA2 Automation/DBA2 Automation\. p\.2 install vm in aws with terraform/aws_terraform/\.terraform/plugins/darwin_amd64/terraform-provider-aws_v2\.2\.0_x4

presentations/DBA2 Automation/DBA2 Automation\. p\.2 install vm in aws with terraform/aws_terraform/terraform\.tfstate
